  <div class="ui inverted masthead centered segment">
    <div class="ui page grid">
      <div class="column">
        <div class="ui secondary pointing menu">
           <a class="logo item">
            {{site.title}}
          </a>
          <a class="item" href="{{"/" | prepend: site.baseurl}}">
            <i class="fa fa-home"></i> Home
          </a>
          <a class="item" href="{{"/blog/" | prepend: site.baseurl }}">
            <i class="fa fa-pencil-square-o"></i> Blogs
          </a>
          <a class="item" href="{{"/project/" | prepend: site.baseurl }}">
            <i class="fa fa-codepen"></i> Projects
          </a>
          <a class="item" href="{{"/resume/" | prepend: site.baseurl }}">
            <i class="fa fa-file-text-o"></i> Resume
          </a>
          <a class="item" href="{{"/gallery/" | prepend: site.baseurl }}">
            <i class="fa fa-camera-retro"></i> Gallery
          </a>
          <div class="right menu">
            <div class="item">
              <div class="ui icon input">
                <input placeholder="然并软" type="text">
                <i class="fa fa-map-maker link icon"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="ui hidden transition information">
          {% if page.img %}
            <div class="ui centerted image">
               <img id="center-icon" src="{{ page.img }}" />
            </div>
          {% endif %}
          <h1 class="ui inverted centered header">
            {% if page.typer %}
              RXDart: <span data-typer-targets="{{ page.typer }}"></span>
            {% else %}
              {{ page.title }}
            {% endif %}
          </h1>
          <p class="ui centered lead">
            {{ page.description }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="divider"></div>
